* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --super-light-gray: #e6e6e6;
  --light-gray: #d9d9d9;
  --gray: #808080;
  --dark-gray: #1a1a1a;
  --lemon: #dcf763;
  --vibrant-red: #de3c4b;
  --dark-blue: #000022;
  --powder-blue: #e5fcff;
  --cursor-grey: #80808088;
}

html {
  font-size: 62.5%;
  font-family: "Coda", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  display: block;
  position: relative;
  font-size: 1.6rem;
}

body, a {
  cursor: none;
}

body::-webkit-scrollbar {
  display: none;
}

.wip {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 3rem;
  background-color: black;
  color: white;
  width: 100%;
  height: 4rem;
  z-index: 999999;
}

/***************************/
/* General                 */
/***************************/

.section-container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20rem;
}

.section-title {
  color: black;
  position: relative;
  margin-left: 50px;
  margin-bottom: 6.4rem;
}

.section-title h2 {
  width: max-content;
  border: 1px solid rgba(0,0,0,0.5);
  padding: 1rem;
  font-weight: normal;
  font-size: 5.4rem;
}

.section-title h2::before {
  color: rgba(0,0,0,0.1);
  top: -35px;
  left: -50px;
  font-size: 9.6rem;
  position: absolute;
}

.section-title h2::after {
  content: '';
  position: absolute;
  top: 45px;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  height: 1px;
}

/***************************/
/* Cursor                  */
/***************************/

.cursor, .cursor::after {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #80808088;
  z-index: 999999 ;
  border-radius: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
}

.cursor.click::after {
  content: '';
}

.cursor::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: radial-gradient(var(--cursor-grey), #80808000);
  z-index: 999999 ;
  border-radius: 50%;
  transform: translate(-16.5%,-16.5%);
}

.cursor.click::after {
  animation: 200ms pulsate ease-out;
}

@keyframes pulsate {
  from { transform: translate(0,0);}
  to { transform: scale(1.5) translate(0%,0%);}
}

/***************************/
/* Preloader               */
/***************************/

.preloader {
  position: fixed;
  top:0;
  width: 100%;
  height: 100vh;
  background-color: white;
  background-image: url(../assets/Eclipse-1s-200px.svg);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-out;
}

.preloader img {
  width: 50px;
  height: 50px;
  transition: scale 0.6s cubic-bezier(0.36, 0, 0.66, -0.56);
}

.preloader img.easeinback {
  scale: 0;
}

.preloader__stop {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/*******************/
/* Nav Bar Header  */
/*******************/

.nav-header {
  height: 0;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.nav-container {
  background-color: #ffffff;
  height: 100px;
  width: 100vh;

  transform-origin: left;
  transform: rotate(-0.25turn) translate(calc(-100vh + 50px), 50%);

  border: 1px solid var(--super-light-gray);

  display: flex;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  gap: 3.5rem;
  align-items: center;
  padding-left: 6rem;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding-top: 5rem;
  transform: translateX(6rem)rotate(90deg);
}

.social-icons.active {
  transform: translateX(10rem) rotate(90deg) scale(1.50);
}

.social-icons img {
  width: 25px;
  height: 25px;
}

.social-icons a:link,
.social-icons a:visited {
  transition: all 0.5s;
  opacity: 0.3;
}

.social-icons a:hover,
.social-icons a:active {
  opacity: 0.8;
}

.social-icons.active a:link,
.social-icons.active a:visited {
  transition: all 0.5s;
  opacity: 0.8;
}

.social-icons.active a:hover,
.social-icons.active a:active {
  opacity: 1;
  
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transform: translateX(-5rem) rotate(90deg);

  font-size: 1.4rem;
  list-style: none;
}

.nav-links li {
  border-bottom: 1px solid var(--super-light-gray);
  padding-bottom: 1rem;
}

.nav-links li a {
  transition: all 0.5s;
}

.nav-links li a:link,
.nav-links li a:visited {
  text-decoration: none;
  color: var(--light-gray);
}

.nav-links li a.active:link,
.nav-links li a.active:visited {
  color: var(--dark-gray);
}

.nav-links li a:hover,
.nav-links li a:active {
  color: var(--dark-gray);
}

.nav-logo-link {
  opacity: 0.3;
  transition: opacity 0.5s;
}

.nav-logo-link.active {
  opacity: 1;
}

.nav-logo {
  transform: rotate(0.25turn);
  padding: 0 4rem;
}

/*******************/
/* Main Body       */
/*******************/

.main {
  padding-left: 10rem;
  transform: translateY(-100px);
}

/*******************/
/* Theme Controls  */
/*******************/

.themes {
  width: calc(100vw - 100px);
}

.themes-container {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 10000000px;
  transition: all 1s ease-in-out;
  position: relative;
  transform: translateY(100px);
}

.themes-container.show-theme1 {transform: rotateY(0deg)   translateZ(50vw) translateY(100px);}
.themes-container.show-theme2 {transform: rotateY(-90deg) translateZ(50vw) translateY(100px);}

.theme1,.theme2 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.theme1 {transform: rotateY(0deg)   ;}
.theme2 {background-color: blue  ;transform: rotateY(90deg)  translateZ(50vw) translateX(50vw);}

/*******************/
/* Hero Section    */
/*******************/

.hero-section {
  min-height: 70rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  background-attachment: fixed;
}

.hero-content-area {
  height: 80rem;
  margin-right: 24px;
  display: grid;
  grid-template-columns: 1fr 32px;
  grid-template-rows: 37.5rem 40rem;
}


.hero-heading {
  text-align: center;
  color: var(--dark-gray);
  padding-top: 15rem;
}

.hero-heading h1,
.hero-heading h2 {
  font-size: 5.4rem;
  font-weight: normal;
  word-spacing: 3px;
  letter-spacing: -2px;
  color: var(--light-gray);
  width: max-content;
  margin: 0 auto;
  position: relative;
}

.hero-heading h1::before,
.hero-heading h2::before {
  content: '';
  background-color: white;
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hero-heading__text1.type::before {animation: 1s steps(29) 1.2s typewriter1 forwards;}
.hero-heading__text2.type::before {animation: 1.1s steps(33) 3.2s typewriter1 forwards;}
.hero-heading__text3.type::before {animation: 1.5s steps(45) 5.2s typewriter1 forwards;}

@keyframes typewriter1 {
  to { left: 100%}
}

.hero-heading span.hero-heading__highlight {
  color: var(--dark-gray);
  font-size: 5rem;
}

/* Hero Accent*/
.square {
  background-color: var(--dark-gray);
  width: 1.5rem;
  height: 1.5rem;
  margin: 1.5rem auto;
}

.line {
  background-color: var(--gray);
  width: 1px;
  height: 45vh;
  margin: 6rem auto 0;
}

.name {
  font-size: 3rem;
  color: var(--gray);
  letter-spacing: -1px;
  transform-origin: center;
  transform: rotate(-0.25turn) translateX(-28vh);
}

/* Hero CTA */

.hero-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(0rem);
  margin-top: 10rem;
  transition: all 1.2s;
}

.hero-cta.hidden {
  opacity: 0;
  transform: translateY(2rem);
}

.caret-down {
  width: 15rem;
  height: 5rem;
  position: relative;
  animation: 0.55s ease-in-out infinite alternate poke;
  padding-bottom: 5rem;
}

@keyframes poke {
  0% {
    transform: translateY(0rem);
  }

  100% {
    transform: translateY(1.2rem);
  }
}

.caret-down::before {
  content: "";
  background-color: var(--gray);
  width: 8.15rem;
  height: 0.4rem;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform: rotate(20deg);
  border-radius: 100px;
}
.caret-down::after {
  content: "";
  background-color: var(--gray);
  width: 8.15rem;
  height: 0.4rem;
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: right;
  transform: rotate(-20deg);
  border-radius: 100px;
}

.cta-btn {
  transition: all 0.3s;
  padding: 0.5rem 1rem;
}

.cta-btn:link,
.cta-btn:visited {
  font-size: 3rem;
  text-decoration: none;
  color: var(--dark-gray);
}

.cta-btn:hover,
.cta-btn:active {
  color: white;
  background-color: var(--dark-gray);
  box-shadow: inset 0 0 0 5px var(--dark-gray);
}



/***************************/
/* Profile      Section    */
/***************************/

.profile-section .section-title h2::before {content: '01';}
.profile-section .section-title h2::after {width: 60%;}

.profile-content {
  display: flex;
  gap: 5.4rem;
}

.profile-content__text {
  width: 60%;
  margin-right: 2.4rem;
  line-height: 1.7;
  letter-spacing: 0.5px;
  color: var(--gray);
  font-family: 'Roboto', sans-serif;
}

.profile-content__text p {
  margin-bottom: 1.6rem;
}

.profile-content__image img {
  max-width: 400px;
  max-height: 400px;
}

/***************************/
/* Work Section            */
/***************************/

.work-section .section-title h2::before {content: '02';}
.work-section .section-title h2::after {width: 50%;}

.work-content {
  display: flex;
}

.work-timeline {
  min-width: 15rem;
  padding: 2rem 3rem 32rem 2rem;
  display: flex;
  border-right: 1px solid var(--light-gray);
  flex-direction: column;
  list-style: none;
  gap: 0.5rem
}

.work-timeline li {
  padding: 1.5rem;
  padding-right: 5rem;
  transition: all 0.2s;
}

.work-timeline li:hover,
.work-timeline li.active {
  background-color: var(--dark-gray);
  color: white;
}

.work-details-area {
  width: calc(85% - 150px);
  padding: 2rem 2rem 2rem 8rem;
  position: relative;
}

.work-details {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 1s;
  transform: translateY(1rem);
}

.work-details.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.work-name {
  font-size: 2rem;
}

.work-role, .work-years {
  color: var(--gray)
}

.work-description {
  margin-top: 2.4rem;
}


.work-description__title {
  margin-bottom: 1.2rem;
}

.work-description__list {
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
  letter-spacing: 0.5px;
  list-style: none;
  padding-left: 3.6rem;
  color: var(--gray);
}

.work-description__list li {
  margin-bottom: 1.2rem;
  position: relative;
}

.work-description__list li:before {
  content: '';
  background-color: var(--dark-gray);
  width: 8px;
  height: 8px;
  position: absolute;
  top: 9px;
  left: -20px;
}

/***************************/
/* Projects Section        */
/***************************/

.projects-section .section-title h2::before {content: '03';}
.projects-section .section-title h2::after {width: 55%;}

.project-content {
  width: max-content;
  display: grid;
  grid-template-columns: 1fr;
  gap: 9.8rem;
}

.project-card {
  width: max-content;
  box-shadow: 0px 0px 0 0px var(--dark-gray);
  transition: transform 0.5s, box-shadow 0.5s;
  padding: 2.4rem 1.4rem;
  display: grid;
  gap: 4rem;
}

.project-card[data-format="1"] {
  grid-template-columns: max-content 400px;
}

.project-card[data-format="2"] {
  grid-template-columns: 400px max-content;
}

.project-card:hover {
  transform: translate(-4px,-4px);
  box-shadow: 4px 4px 0 0 var(--dark-gray);
} 

.project-details {
  padding: 1rem;
  max-width: 50rem;
}

.project-title {
  font-size: 2.4rem;
}

.project-stack ul {
  display: flex;
  gap: 0.8rem;

  list-style: none;
  padding-bottom: 1.6rem;
}

.project-stack ul li {
  color: var(--gray);
}

.project-description {
  line-height: 1.6;
}

.project2-list {
  padding-top: 1.4rem;
  padding-left: 4.4rem;
}

.project-image { 
  max-width: 400px;
  min-height: 250px;
  border: 1px solid var(--gray);
  padding: 5px;
  position: relative;
}
.project-image img { width: 100%; height: 100%;}

.project-image__img {
  position: absolute;
  filter: saturate(0);
  top:0;
  left: 0;
  transition: filter 1s, opacity 3s ease-out;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.project-image__img:hover {
  filter: none;
}

.project-image__img.active {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

/***************************/
/* Blog Section            */
/***************************/

.blog-section .section-title h2::before {content: '04';}
.blog-section .section-title h2::after {width: 75%;}

.blog-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-bottom: 1.2rem;
}

.blog-card {
  transition: all 0.5s;
  padding: 3.2rem;
  padding-bottom: 5.2rem;
  background-color: white;
  filter: saturate(0);
}

.blog-card:hover {
  transform: translate(-4px,-4px);
  box-shadow: 4px 4px 0 0 var(--dark-gray);
  border: 1px solid var(--light-gray);
}

.blog-image img{
  width: 100%;
  object-fit: cover;
}

.blog-title {
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: -0.5px;
  padding-top: 2.4rem;
  padding-bottom: 1.4rem;
}

.blog-summary {
  font-family: 'Roboto', sans-serif;
  color: var(--gray);
  line-height: 1.5;
}

.blog-more {
  width: 100%;
  display: flex;
  justify-content: center;
}

.blog-more a:link,
.blog-more a:visited {
  color: var(--dark-gray);
  font-size: 2.4rem;
  padding: 1.4rem 2.8rem;
  transition: all 0.5s
}

.blog-more a:hover,
.blog-more a:active {
  color: white;
  background-color: var(--dark-gray);
}

/***************************/
/* CTA Section             */
/***************************/

.section-container.cta {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--dark-gray);
  padding: 4rem;
  margin: 0 auto;
  margin-bottom: 20rem;
}

.cta-header h2{
  font-size: 4.8rem;
  color: var(--dark-gray);
  text-align: center;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 2.4rem;
}

.cta-text {
  width: 90%;
  text-align: center;
  opacity: 0.7;
  font-size: 1.8rem;
  line-height: 1.7;
  letter-spacing: 0.2px;
  margin-bottom: 4.8rem;
}

.cta-button a:link,
.cta-button a:visited {
  font-size: 2.8rem;
  color: white;
  background-color: var(--dark-gray);
  padding: 1.4rem 2.8rem;
  text-decoration: none;
}

.cta-button:hover a,
.cta-button a:active {
  text-decoration: underline;
}


/***************************/
/* Footer                  */
/***************************/

.copyright {
  text-align: center;
}

/***************************/
/* Animations              */
/***************************/

.fade-in {
  transition: transform 0.6s, opacity 0.2s;
  transition-timing-function: ease-out;
}

.hidden {
  transform: translateY(-6rem);
  opacity: 0;
}
